@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
}

@keyframes highlight {
  0% {
    background-color: rgba(99, 102, 241, 0.3);
  }
  100% {
    background-color: transparent;
  }
}

.animate-highlight {
  animation: highlight 1.5s ease-out forwards;
}
